.env
.venv
# Python
*.pyc
__pycache__/

# Prompts
/prompts/*
!/prompts/*_example.txt

# Styles
/styles/*
!/styles/*_example.txte
.python-version
*.jpg
*.png
*.jpeg
/assets
/dist
/.junie
/.idea
.DS_Store
